.index-wrapper {
  font-family: "Inconsolata", monospace;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-image: url('https://images.pexels.com/photos/162389/lost-places-old-decay-ruin-162389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}
.indextitle{
  text-align: center;
  font-size: 72px;
  color: white;
  opacity: 0.7;
  // margin-top: 32px;
  margin-bottom: 50px;
  padding-top: 100px;
}


.card-product {
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  overflow: hidden;
  height: 190px;
  color: black;
  background-image: url("https://img.freepik.com/free-photo/white-crumpled-paper-texture-background-close-up_64749-1851.jpg?size=626&ext=jpg");
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 16px;
  width: 440px;
  border-radius: 5px;
  opacity: 0.9;
}

.card-product img {
  height: 190px;
  width: 190px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
li {
  list-style: none;
}

.container-index{
  width: 100%;
}
