.show-wrapper {
// background-image: url("https://images.pexels.com/photos/479444/pexels-photo-479444.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
background-size: cover;
background-repeat: none;
opacity: 0.8;
height: 100vh;
width: 100vw;
}

.booking-title {
  text-align: center;
  font-size: 72px;
}

.bookings {
  font-family: 'Inconsolata', monospace;
  font-size: 32px;
  font-style: bolder;
}
