<select class="custom-select">
  <option selected>Choose your mission</option>
  <option value="1">Assassinat</option>
  <option value="2">Hostage</option>
  <option value="3">Theft</option>
  <option value="3">Torture</option>
  <option value="4">Kidnapping</option>
</select>

<div class="form-total">
  <div class="form-description">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div>
  <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Hire!</a>
</div>
