<select class="custom-select">
  <option selected>Choose your mission</option>
  <option value="1">Assassinat</option>
  <option value="2">Hostage</option>
  <option value="3">Theft</option>
  <option value="3">Torture</option>
  <option value="4">Kidnapping</option>
</select>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
