<h1 class="indextitle">Contracts List</h1>

<div class= "row">

<%= link_to contract_path(@contracts.first) do %>
  <% @contracts.each do |contract| %>
    <div class="col-sm-12 col-lg-4">
      <div class="card-product">
        <%= cl_image_tag contract.photo %>
          <div class="card-product-infos">
            <ul>
              <li>
                <h2> <%= contract.nickname %> </h2> <!--Ben-->
                <p>#####CRIPTED######</p>
                <p>#####CRIPTED######</p>
              </li>
              <%#= link_to "See your Selection !", contract_path(contract) %>
            </ul>
          </div>
      </div>
    </div>
  <% end %>
<% end %>

