<div class="index-wrapper">
<h1 class="indextitle">Contracts List</h1>


<div class="container-index">
  <div class= "row">
    <% @contracts.each do |contract| %>
      <div class="col-sm-12 col-lg-4">
        <%= link_to contract_path(contract) do %>
          <div class="card-product">
            <%= cl_image_tag contract.photo %>
            <div class="card-product-infos">
              <ul>
                <li>
                  <h2> <%= contract.nickname %> </h2> <!--Ben-->
                  <p>#####CRIPTED######</p>
                  <p>#####CRIPTED######</p>
                </li>
                <%#= link_to "See your Selection !", contract_path(contract) %>
              <% end %>
              </ul>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
