<h1>Contracts List</h1>

<% @contracts.each do |contract| %>
  <div class= "row">
    <div class="col-sm-12 col-lg-4">
      <div class="card-product">
        <%= image_tag "ben.png" %>
        <div class="card-product-infos">
          <ul>
            <li>
              <h2> <%= contract.nickname %> </h2>
              <p> classified ############## </p>
              <p> classified ############## </p>
            </li>
            <%= link_to "See your Selection !", contract_path(contract), class: "toShow" %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
