<div class="navbar">

  <div class="left-elements">
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <p>TakingCare</p>
  </div>

  <div class="right-elements">
    <p>Devenir un bandit</p>
    <p>Dashboard</p>
  </div>
</div>


